.login_body{
    align-items: center;
    
    width: 100%;
    min-height: 400px;
    margin-top: 150px;
}
.login_body_parent{
    align-items: center;
    justify-content: center;
    display:flex;
   margin-top: 20px;
}
.login_body_parent input{
    height:40px;
    width:20%;
    min-width: 250px;
    border-radius: 20px;
    outline: none; 
    padding-left: 10px;
}
.login_body_parent button{
    height: 30px;
    width: 60px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    background-color: green;
}
.login-message{
    text-align: center;
    color: red;
}